.container {
  background: #484848;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100vh;
  min-width: 5vw;
  max-width: 10vw;
}

.icon {
  max-width: 40px;
  min-width: 40px;
  margin: 20px;
}

.isActive {
  fill: red;
}

/* fill: #7df779; */
